<a href="javascript:void(0);" class="pull-right" ng-click="cartController.reload()">
  <i class="fa fa-fw fa-refresh"></i>
  Reload
</a>
<h3>Info</h3>
<table class="table table-condensed">
  <tr>
    <th>Currency</th>
    <th><span class="text text-primary">{{ cartController.cart.currency }}</span></th>
  </tr>
  <tr>
    <th>Total price</th>
    <th><span class="text text-primary">{{ cartController.cart.total_price || 0}} {{ cartController.cart.currency }}</span></th>
  </tr>
  <tr>
    <th>Total monthly price</th>
    <th><span class="text text-primary">{{ cartController.cart.monthly_total_price || 0}} {{ cartController.cart.currency }}</span></th>
  </tr>
</table>

<h3>Products</h3>
<table class="table table-condensed">
  <tr ng-repeat="product in cartController.cart.products">
    <td>{{ product.name }}</td>
    <td><span class="label label-success">{{ product.price }}</span></td>
  </tr>
</table>