<div ng-repeat="rule in clientInfo.rules" style="margin-bottom: 2px;">
  <a href="#" ng-click="expanded=!expanded">
    <i class="fa fa-chevron-down" ng-hide="expanded"></i>
    <i class="fa fa-chevron-up" ng-show="expanded"></i>
    {{ rule.name }}
  </a>
  <span class="label label-success" ng-show="rule.match">Rule matches</span>
  <span class="label label-danger" ng-show="rule.match === false">Rule does not match</span>

  <div ng-show="expanded" class="well well-small">
    <strong>Action</strong> <span class="label label-primary">{{ clientInfo.ruleactionTypes[rule.action.type] || "ACTION TYPE " + rule.action.type }}</span>
    <div>
      <code style="white-space: normal; display: block;">{{ rule.action.value }}</code>
    </div>

    <hr style="margin-top: 2px; margin-bottom: 2px;"/>
    <strong>Conditions</strong>
    <div ng-repeat="condition in rule.conditions">
        <span class="label label-primary">{{ clientInfo.ruleconditionTypes[condition.type] }}</span>
        <code style="white-space: normal; display: block;">{{ condition.value }}</code>
    </div>
    <hr style="margin-top: 2px; margin-bottom: 2px;"/>
    <button class="btn btn-success btn-xs" ng-click="runRule(rule)"><i class="fa fa-play"> </i> Recheck if rule matches </button>
  </div>
</div>